# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Modal
.modal/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data & Models
*.pdparams
*.pdopt
*.inference
*.jpg
*.png
*.bmp
*.pdf

# Graphify
graphify-out/

# Temporary Cleanup Storage
.temp/